@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-purple-100
}

.btn{
    @apply bg-blue-500 text-white rounded border-blue-700 py-2 px-4 border-b-4;
}

.repos-list{
    columns: 2;
    -moz-columns: 2;
    column-rule: 1px solid;
    @apply p-4;
}

.repos-list li{
    break-inside: avoid-column;
}

.vertical-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    @apply bg-blue-200 text-purple-700 text-xs p-2 inline-block;
}