@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-blue-300
}

.scroll{
    @apply max-w-4xl mx-auto overflow-x-scroll 
}

.scroll::-webkit-scrollbar{
    display: none;
}

.btn-blue{
    @apply bg-blue-500 text-white rounded border-blue-400 py-2 px-4 border-b-4;
}

.btn-blue:hover{
    @apply border-blue-600 bg-blue-400;
}

.btn-black{
    @apply bg-gray-700 text-white rounded border-gray-500 py-2 px-4 border-b-4;
}

.btn-black:hover{
    @apply border-gray-700 bg-gray-600
}

.btn-purple{
    @apply bg-purple-700 text-white rounded border-purple-500 py-2 px-4 border-b-4;
}

.repos-list{
    columns: 2;
    -moz-columns: 2;
    column-rule: 1px solid;
    @apply p-4;
}

.repos-list li{
    break-inside: avoid-column;
}

.vertical-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    @apply bg-blue-200 text-purple-700 text-xs p-2 inline-block;
}